
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.linkStyleMobile{
  color: #00000090;
  text-decoration: none;
  font-weight: 600;
}
.linkStyleMobile:hover{
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.linkStyle{
  color: #ffffff8a;
  text-decoration: none;
  font-weight: 600;
}
.linkStyle:hover{
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
